# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/

# IDEs
.idea/
.vscode/

# Ticket DB:
Ticket/instance/*
!Ticket/instance/tickets.db

Ticket/instance/*.db-journal
Ticket/instance/*.db-wal
Ticket/instance/*.db-shm
