{% extends "base.html" %}

{% block content %}
<h1>Mitarbeiter</h1>

<div class="btn-container">
    <a href="{{ url_for('mitarbeiter_new') }}" class="btn-primary-small">
        Neuen Mitarbeiter anlegen
    </a>
</div>

<div class="card">
    <h2>Übersicht</h2>

    <div class="table-wrapper">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="min-width: 60px;">ID</th>
                    <th style="min-width: 180px;">Name</th>
                    <th style="min-width: 180px;">Benutzername</th>
                    <th style="min-width: 160px;">Aktionen</th>
                </tr>
            </thead>
            <tbody>
                {% for m in mitarbeiter %}
                <tr>
                    <td>{{ m.id }}</td>
                    <td>{{ m.name }}</td>
                    <td>{{ m.user.username }}</td>
                    <td>
                        <a href="{{ url_for('mitarbeiter_edit', mitarbeiter_id=m.id) }}"
                           class="btn-secondary-small">
                            Bearbeiten
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        Noch keine Mitarbeiter erfasst.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
