{% extends "base.html" %}

{% block content %}
<h1>Abschnitt hinzufügen</h1>

<div style="display: flex; gap: 20px;">

    <!-- Links Tabelle-->
    <div style="flex: 1; max-width: 500px;">
        <form method="POST">
            {{ form.hidden_tag() }}
            <p class="form-group">
                {{ form.startBahnhof.label }}<br>
                {{ form.startBahnhof(class="form-control") }}
                {% for error in form.startBahnhof.errors %}
                    <span style="color:red; display:block;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="form-group">
                {{ form.endBahnhof.label }}<br>
                {{ form.endBahnhof(class="form-control") }}
                {% for error in form.endBahnhof.errors %}
                    <span style="color:red; display:block;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.max_geschwindigkeit.label }}<br>{{ form.max_geschwindigkeit() }}</p>
            <p>{{ form.spurweite.label }}<br>{{ form.spurweite() }}</p>
            <p>{{ form.nutzungsentgelt.label }}<br>{{ form.nutzungsentgelt() }}</p>

            <p>{{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('abschnitt') }}" class="btn btn-secondary" style="margin-left: 10px;">Abbrechen</a>
            </p>
        </form>
    </div>

    <!--Rechts Karte-->
    <div style="flex: 1; min-width: 400px; height: 80vh;">
        <div id="map" style="width:100%; height:100%;"></div>
    </div>

</div>
{% endblock %}