{% extends "base.html" %}

{% block content %}

<!-- Bindet die CSS-Datei add_edit.css für das Styling ein -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_edit.css') }}">

<h1>Bahnhof hinzufügen</h1> <!-- Überschrift -->

<div class="flex-container">

    <div class="form-wrapper">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <!--Eingabefelder für Name und Adresse des Bahnhofs-->
            <p>
                {{ form.name.label }}<br> <!--zeigt die Beschriftung für das Namensfeld an + Seitenumbruch -->
                {{ form.name() }} <!-- Name-Eingabefeld -->
                {% for error in form.name.errors %} <!-- Schleife durch alle Validierungsfehler des Name-Feldes -->
                <span style="color:red; display:block;">[{{ error }}]</span> <!-- zeigt Fehler in rot an -->
                {% endfor %}
            </p>
            <p>
                {{ form.adresse.label }}<br>
                {{ form.adresse(id="adresse") }}
                {% for error in form.adresse.errors %}
                <span style="color:red; display:block;">[{{ error }}]</span>
                {% endfor %}
                <span id="adresse-error" style="color:red; display:none;"></span>
            </p>

            <!-- readonly Anzeigefelder zum Anzeigen der berechneten Koordinaten aus der Adresse -->
            <p>
                <label for="latitude">Breitengrad</label><br>
                <input type="text" id="latitude" name="latitude" readonly>
            </p>
            <p>
                <label for="longitude">Längengrad</label><br>
                <input type="text" id="longitude" name="longitude" readonly>
            </p>

            <!-- Speichern + Abbrechen Button-->
            <p>{{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('bahnhof') }}" class="btn btn-secondary" style="margin-left: 10px;">Abbrechen</a>
            </p>

        </form>
    </div>
    <!-- div-Container für die Map -->
    <div class="map-wrapper">
        <div id="map" style="width:100%; height:100%;"></div>
    </div>

</div>


<!--Leaflet CSS + JS-->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    //Erstellt die Karte
    let map = L.map('map').setView([47.5162, 14.5501], 7); //L. steht für Leaflet
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { // z..Zoomlevel; x,y..Koordinaten
    attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    let marker = null; // Variable für den Bahnhofsmarker, initial null (noch kein Marker)

    //Wenn User Adresse eingibt/aktualisiert wird der Code ausgeführt
    //wandelt Adresse in Koordinaten um -> zeichnet mit Hilfe der Koordinaten den Marker für den Bahnhof auf der Karte
    document.getElementById("adresse").addEventListener("change", function () {
        const adresse = this.value.trim(); //trim entfernt Leerzeichen vorne und hinten
        const errorSpan = document.getElementById("adresse-error");
        errorSpan.style.display = "none";
        errorSpan.textContent = "";
        if (adresse.length < 3) return;

        //Sendet Anfrage an Nominatim von OpenStreetMap; übergibt Adresse
        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(adresse)}`)
            .then(response => response.json()) //wandelt es in Json um
            .then(data => {
                //Wenn Adresse gefunden wurde
                if (data.length > 0) {
                    const lat = parseFloat(data[0].lat); //data[0] ist relevanteste Ergebnis
                    const lon = parseFloat(data[0].lon);

                    //übergibt Koordinaten an Formular
                    document.getElementById("latitude").value = lat;
                    document.getElementById("longitude").value = lon;

                    //Marker existiert bereits
                    if (marker) {
                        marker.setLatLng([lat, lon]); //Kann Marker/Bahnhof verschieben
                    } else {
                        //Erstelle Marker
                        marker = L.marker([lat, lon], {
                                    icon: L.icon({
                                        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
                                        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                                        iconSize: [25, 41],
                                        iconAnchor: [12, 41],
                                        popupAnchor: [1, -34],
                                        shadowSize: [41, 41]
                                    })
                                },{draggable: true}).addTo(map);
                        marker.on('dragend', function() {
                            const pos = marker.getLatLng();
                            document.getElementById("latitude").value = pos.lat; //falls Maker verschoben wurde
                            document.getElementById("longitude").value = pos.lng;
                        });
                    }
                    map.setView([lat, lon], 15);
                } else {
                    document.getElementById("latitude").value = "";
                    document.getElementById("longitude").value = "";
                    //konnte Adresse nicht finden
                    errorSpan.textContent = "[Adresse wurde nicht gefunden.]";
                    errorSpan.style.display = "inline";
                }
            })
            .catch(err => console.error("Geocoding Fehler:", err));
    });
</script>
{% endblock %}


