<!doctype html>
<html>
<head>
    {% if title %}
        <title>{{ title }} - Strecken</title>
    {% else %}
        <title>Welcome to Strecken</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="header">
        <!--Menü links-->
            <ul class="menu">
        <!--Bahnhof Dropdown-->
        <li class="dropdown">
            <a href="{{ url_for('bahnhof') }}">Bahnhof</a>
            {% if current_user.is_authenticated and current_user.role.value == 'admin' %}
            <ul class="dropdown-content">
                <li><a href="{{ url_for('bahnhof_add') }}">Neuen Bahnhof hinzufügen</a></li>
                <li><a href="{{ url_for('bahnhof') }}">Alle Bahnhöfe verwalten</a></li>
            </ul>
            {% endif %}
        </li>

        <!--Abschnitt Dropdown-->
        <li class="dropdown">
            <a href="{{ url_for('abschnitt') }}">Abschnitt</a>
            {% if current_user.is_authenticated and current_user.role.value == 'admin' %}
            <ul class="dropdown-content">
                <li><a href="{{ url_for('abschnitt_add') }}">Neuen Abschnitt hinzufügen</a></li>
                <li><a href="{{ url_for('abschnitt') }}">Alle Abschnitte verwalten</a></li>
            </ul>
            {% endif %}
        </li>
    </ul>

        <!--rechts Login/Logout-->
        <div class="user-links">
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% elif current_user.role.value == 'admin' %}
                <a href="{{ url_for('register') }}">+ neuer Benutzer</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_anonymous %}
            <img src="{{ current_user.avatar(40) }}" alt="Avatar" style="border-radius:50%; vertical-align:middle; margin-right:8px;">
            {% endif %}
        </div>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
