{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_edit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <h1>Login</h1>

<div class="flex-container">
    <div class="form-wrapper">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
    <div class="image-wrapper"> </div>

</div>
{% endblock %}