/*Bild*/
.image-wrapper {
    flex: 2; /*ist doppelt so groß wie das Formular */
    position: relative;
    min-width: 400px; /* Minimale Breite: Container wird nie schmaler als 400 Pixel */
    height: 75vh; /* Höhe mind. 75% des Bildschirms */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /*erzeugt Schatten*/
    background-image: url('../img/schienen_querformat.png'); /*wird in der Mitte des Containers platziert und füllt den Container ohne das Bild zu verzehren*/
    background-size: cover;
    background-position: center center; /*Bild wird horizontal und vertikal zentriert */
}