{% extends "base.html" %}
{% block title %}Aktionsübersicht{% endblock %}
{% block content %}
  <h1>Aktionsübersicht</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Start</th>
      <th>Ende</th>
      <th>Rabatt</th>
      <th>aktiv</th>
      <th>Typ</th>
      <th>Optionen</th>
    </tr>

    {% for a in aktionen %}
      <tr>
        <td>{{ a.id }}</td>
        <td>{{ a.name }}</td>
        <td>{{ a.startZeit }}</td>
        <td>{{ a.endeZeit }}</td>
        <td>{{ "%.1f"|format(a.rabattWert) }}%</td>
        <td>{{ "TRUE" if a.aktiv else "FALSE" }}</td>
        <td>{{ a.typ.upper() }}</td>
        <td>
          <a class="btn" href="{{ url_for('main.aktion_edit', aktion_id=a.id) }}">Bearbeiten</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
