{% extends "base.html" %}
{% block title %}Meine Tickets{% endblock %}
{% block content %}
  <h1>Ticket</h1>
  <h2>Meine Tickets</h2>

  {% if tickets %}
    <table>
      <tr>
        <th>Ticket-ID</th>
        <th>Erstellt am</th>
        <th>Verbindung</th>
        <th>Abfahrt</th>
        <th>Ankunft</th>
        <th>Umstiege</th>
        <th>Sitzplatz</th>
        <th>Preis</th>
        <th>Status</th>
        <th>Optionen</th>
      </tr>
      {% for t in tickets %}
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.erstelltAm.strftime("%d.%m.%Y %H:%M") }}</td>
          <td>{{ t.start_halt }} → {{ t.ziel_halt }}</td>
          <td>{{ t.abfahrt.strftime("%d.%m.%Y %H:%M") }}</td>
          <td>{{ t.ankunft.strftime("%d.%m.%Y %H:%M") }}</td>
          <td>{{ t.anzahl_umstiege }}</td>
          <td>{{ "ja" if t.sitzplatzReservierung else "nein" }}</td>
          <td>{{ "%.2f"|format(t.gesamtPreis) }} €</td>
          <td>{{ t.status }}</td>
          <td>
            {% if t.status != "storniert" %}
              <form method="post" action="{{ url_for('main.ticket_storno', ticket_id=t.id) }}">
                <button class="btn" type="submit">Storno</button>
              </form>
            {% else %}
              –
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Sie haben noch keine Tickets.</p>
  {% endif %}
{% endblock %}
