{% extends "base.html" %}

{% block content %}
<h1>Mitarbeiter Daten bearbeiten</h1>

<form method="POST" novalidate >
    {{ form.hidden_tag() }}
   <p>
        {{ form.vorname.label }}<br>
        {{ form.vorname(size=20) }}
        {% for error in form.vorname.errors %}
            <div style="color:red">{{ error }}</div>
        {% endfor %}
    </p>

    <p>
        {{ form.nachname.label }}<br>
        {{ form.nachname(size=20) }}
        {% for error in form.nachname.errors %}
            <div style="color:red">{{ error }}</div>
        {% endfor %}
    </p>

    <p>
        {{ form.svnr.label }}<br>
        {{ form.svnr(size=20) }}
        {% for error in form.svnr.errors %}
            <div style="color:red">{{ error }}</div>
        {% endfor %}
    </p>

    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=20) }}
        {% for error in form.username.errors %}
            <div style="color:red">{{ error }}</div>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}
        {% for error in form.password.errors %}
            <div style="color:red">{{ error }}</div>
        {% endfor %}
    </p>

    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=20) }}
        {% for error in form.password2.errors %}
            <div style="color:red">{{ error }}</div>
        {% endfor %}
    </p>

    <p>
        {{ form.speichern() }}
        <button name="abbrechen" value="1" formnovalidate>Abbrechen</button>
    </p>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color:red; font-weight:bold; margin-top:10px;">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}