{% extends "base_mitarbeiter.html" %}
{% block content %}
<h1>Züge</h1>
<h2>Übersicht</h2>
<form method="GET" action="{{ url_for('zuege_mitarbeiter') }}" style="margin-bottom: 15px;">
    <input type="text" name="q" placeholder="Suchen..." value="{{ request.args.get('q', '') }}">
    <button type="submit">Suchen</button>
</form>
<table border="1">
        <thead>
            <tr>
                <th></th>
                <th>Zug-ID</th>
                <th>Bezeichnung</th>
                <th>Triebwagen</th>
                <th>Personenwagen</th>
                <th>In Wartung</th>
            </tr>
        </thead>
        <tbody>
            {% for zug in zuege_liste %}
            <tr>
                <td><input type="radio" name="selected_zug" value="{{ zug.zugid }}"></td>
                <td>{{ zug.zugid }}</td>
                <td>{{ zug.bezeichnung }}</td>
                <td>
                    {% if zug.triebwagen_id %}
                        {{ zug.triebwagen_id }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if zug.personenwagen_ids %}
                        {{ zug.personenwagen_ids }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if zug.inwartung %}
                        Ja
                    {% else %}
                        Nein
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}